<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Nokia//DTD PLIST 1.0//EN" "http://www.nokia.com/NOKIA_COM_1/DTDs/plist-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayName</key>
	<string>Mobile Credits</string>
	<key>Identifier</key>
	<string>com.nokia.widget.mobilecredits</string>
	<key>MainHTML</key>
	<string>index.html</string>
	<key>AllowNetworkAccess</key>
	<false/>
	<key>Version</key>
	<string>0.1</string>
	<key>MiniViewEnabled</key>
	<false/>
</dict>
</plist>